### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [166]:
#Jason Johnson, cell 617-999-6639
# Pandas Homework

# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [167]:
# Get the total number of unique Screen Names from the df.

player_count = (purchase_data["SN"].nunique())
player_count_table = pd.DataFrame({"Total Players": [player_count]})
player_count_table

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [168]:
# Get the # of unique items, avg purchase price, total # of purchases, 
# and total revenue.

item_count = purchase_data["Item ID"].nunique()
avg_purchase_price = round((purchase_data["Price"].mean()),2)
purchase_count = (purchase_data["Purchase ID"].count())
total_revenue = purchase_data["Price"].sum()

# Create a dataframe for the new data.
purchase_analysis_table = pd.DataFrame({"Number of Unique Items": [item_count],
                                       "Average Price": [avg_purchase_price],
                                       "Number of Purchases" : [purchase_count],
                                       "Total Revenue" : [total_revenue]})

# Format and display the DF.
purchase_analysis_table.style.format({"Average Price": "${:,.2f}", "Total Revenue": "${:,.2f}"})

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [169]:
# First drop duplicate screen names.
unique_sn_purchase_data = purchase_data.sort_values("SN", ascending= False)
unique_sn_purchase_data.drop_duplicates(subset="SN", inplace=True)

# Gets counts by gender.
gender_counts = unique_sn_purchase_data["Gender"].value_counts()
gender_percents = unique_sn_purchase_data["Gender"].value_counts(normalize=True)

# Counts for each gender.
male_count = (gender_counts[0])
female_count = (gender_counts[1])
other_count = (gender_counts[2])

# Percents for each gender.
male_percent = (gender_percents[0])
female_percent = (gender_percents[1])
other_percent = (gender_percents[2])

# Create a DF with the new data.
gender_table = pd.DataFrame({"Gender" : ["Male", "Female", "Other / Non-Disclosed"], 
                                        "Purchase Count": [male_count, female_count, other_count],
                                       "Percentage of Players": [male_percent, female_percent, other_percent]})

new_gender_table = gender_table.set_index("Gender")
new_gender_table.style.format({"Percentage of Players": "{:.2%}"})


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [170]:
# Get the overall item count, average purchase price and total revenue for the DF.
item_count = purchase_data["Item Name"].nunique()
avg_purchase_price = round((purchase_data["Price"].mean()),2)
total_revenue = purchase_data["Price"].sum()

#Filter the data so that only specific gender purchase data is in a DF
male_purchase_data = purchase_data.loc[purchase_data["Gender"] == "Male", :]
female_purchase_data = purchase_data.loc[purchase_data["Gender"] == "Female", :]
other_purchase_data = purchase_data.loc[purchase_data["Gender"] == "Other / Non-Disclosed", :]

#Identify the # of purchases, average purchase price and the total revenue by gender.
male_item_count = male_purchase_data["Purchase ID"].nunique()
male_avg_purchase_price = round((male_purchase_data["Price"].mean()),2)
male_total_revenue = male_purchase_data["Price"].sum()

female_item_count = female_purchase_data["Purchase ID"].nunique()
female_avg_purchase_price = round((female_purchase_data["Price"].mean()),2)
female_total_revenue = female_purchase_data["Price"].sum()

other_item_count = other_purchase_data["Purchase ID"].nunique()
other_avg_purchase_price = round((other_purchase_data["Price"].mean()),2)
other_total_revenue = other_purchase_data["Price"].sum()

# Using GroupBy in order to separate the data into fields according to "SN" values
grouped_male_counts_data = male_purchase_data.groupby(["SN"])
grouped_female_counts_data = female_purchase_data.groupby(["SN"])
grouped_other_counts_data = other_purchase_data.groupby(["SN"])

#Get sum of purchases for each SN
purchase_by_sn_male = grouped_male_counts_data["Price"].sum()
purchase_by_sn_female = grouped_female_counts_data["Price"].sum()
purchase_by_sn_other = grouped_other_counts_data["Price"].sum()

#Create a summary table of total purchases by SN
male_summary_table = pd.DataFrame({"Total Purchases": purchase_by_sn_male})
female_summary_table = pd.DataFrame({"Total Purchases": purchase_by_sn_female})
other_summary_table = pd.DataFrame({"Total Purchases": purchase_by_sn_other})

#Calculate the mean purchase by SN
avg_male_purchase_price = round((male_summary_table["Total Purchases"].mean()),2)
avg_female_purchase_price = round((female_summary_table["Total Purchases"].mean()),2)
avg_other_purchase_price = round((other_summary_table["Total Purchases"].mean()),2)

# Place all of the data found into a summary DataFrame
gender_summary_table = pd.DataFrame({"Gender": ["Male", "Female", "Other / Non-Disclosed"],
                              "Purchase Count": [male_item_count, female_item_count, other_item_count],
                              "Average Purchase Price": [male_avg_purchase_price, female_avg_purchase_price, other_avg_purchase_price],
                              "Total Purchase Value": [male_total_revenue, female_total_revenue, other_total_revenue],
                            "Avg Purchase Total per Person": [avg_male_purchase_price, avg_female_purchase_price, avg_other_purchase_price]})

# Format and display the DF.
new_gender_summary_table = gender_summary_table.set_index("Gender")
new_gender_summary_table.style.format({"Average Purchase Price": "${:,.2f}", "Total Purchase Value": "${:,.2f}",
                                   "Avg Purchase Total per Person": "${:,.2f}"})

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [171]:
# Create the bins in which Data will be held  
bins = [0, 9, 14, 19, 24, 29, 34, 39, 100]

# Create the names for the four bins
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

#Place the new data series "Age Demographics" into a new column inside of the DF
purchase_data["Age Demographics"] = pd.cut(purchase_data["Age"], bins, labels=group_names)

#Group by the age bins.
age_purchase_data = purchase_data.groupby("Age Demographics")

#Get the count and percent of players for each bin
age_count = age_purchase_data["SN"].nunique()
age_percent = age_purchase_data["SN"].nunique() / player_count
age_purchase_count = age_purchase_data["Purchase ID"].count()
age_avg_purchase_price = age_purchase_data["Price"].mean()
age_total_purchase_value = age_purchase_data["Price"].sum()

#Group by age and SN
age_sn_purchase_data = purchase_data.groupby(["Age Demographics", "SN"])
age_sum_purchase_person = age_sn_purchase_data["Price"].sum()
age_number_purchase_person = age_sn_purchase_data["Purchase ID"].count()
age_avg_cost_purchase_person = age_sum_purchase_person / age_number_purchase_person

#Setting up raw dataframe
age_purchase_data = {"Number of Players":age_count,
                "Percent of Players":age_percent}

age_analysis = pd.DataFrame(age_purchase_data)
age_analysis.style.format({"Percent of Players": "{:.2%}"})

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [172]:
#Brute force FTW!!!
#Filter the data so that only specific age purchase data is in a DF
less10_purchase_data = purchase_data.loc[purchase_data["Age Demographics"] == "<10"]
ten_fourteen_purchase_data = purchase_data.loc[purchase_data["Age Demographics"] == "10-14"]
fifteen_nineteen_purchase_data = purchase_data.loc[purchase_data["Age Demographics"] == "15-19"]
twenty_twentyfour_purchase_data = purchase_data.loc[purchase_data["Age Demographics"] == "20-24"]
twentyfive_twentynine_purchase_data = purchase_data.loc[purchase_data["Age Demographics"] == "25-29"]
thirty_thirtyfour_purchase_data = purchase_data.loc[purchase_data["Age Demographics"] == "30-34"]
thirtyfive_thirtynine_purchase_data = purchase_data.loc[purchase_data["Age Demographics"] == "35-39"]
greater40_purchase_data = purchase_data.loc[purchase_data["Age Demographics"] == "40+"]

#Get the purchase counts for each age group
less10_purchase_count = (less10_purchase_data["Purchase ID"].count())
ten_fourteen_purchase_count = (ten_fourteen_purchase_data["Purchase ID"].count())
fifteen_nineteen_purchase_count = (fifteen_nineteen_purchase_data["Purchase ID"].count())
twenty_twentyfour_purchase_count = (twenty_twentyfour_purchase_data["Purchase ID"].count())
twentyfive_twentynine_purchase_count = (twentyfive_twentynine_purchase_data["Purchase ID"].count())
thirty_thirtyfour_purchase_count = (thirty_thirtyfour_purchase_data["Purchase ID"].count())
thirtyfive_thirtynine_purchase_count = (thirtyfive_thirtynine_purchase_data["Purchase ID"].count())
greater40_purchase_count = (greater40_purchase_data["Purchase ID"].count())

# Get the average purchase price in this age group
less10_avg_purchase_price = round((less10_purchase_data["Price"].mean()),2)
ten_fourteen_avg_purchase_price = round((ten_fourteen_purchase_data["Price"].mean()),2)
fifteen_nineteen_avg_purchase_price = round((fifteen_nineteen_purchase_data["Price"].mean()),2)
twenty_twentyfour_avg_purchase_price = round((twenty_twentyfour_purchase_data["Price"].mean()),2)
twentyfive_twentynine_avg_purchase_price = round((twentyfive_twentynine_purchase_data["Price"].mean()),2)
thirty_thirtyfour_avg_purchase_price = round((thirty_thirtyfour_purchase_data["Price"].mean()),2)
thirtyfive_thirtynine_avg_purchase_price = round((thirtyfive_thirtynine_purchase_data["Price"].mean()),2)
greater40_avg_purchase_price = round((greater40_purchase_data["Price"].mean()),2)

# Get the total purchase value in this age group
less10_total_revenue = less10_purchase_data["Price"].sum()
ten_fourteen_total_revenue = ten_fourteen_purchase_data["Price"].sum()
fifteen_nineteen_total_revenue = fifteen_nineteen_purchase_data["Price"].sum()
twenty_twentyfour_total_revenue = twenty_twentyfour_purchase_data["Price"].sum()
twentyfive_twentynine_total_revenue = twentyfive_twentynine_purchase_data["Price"].sum()
thirty_thirtyfour_total_revenue = thirty_thirtyfour_purchase_data["Price"].sum()
thirtyfive_thirtynine_total_revenue = thirtyfive_thirtynine_purchase_data["Price"].sum()
greater40_total_revenue = greater40_purchase_data["Price"].sum()

# Using GroupBy in order to separate the data into fields according to "SN" values
grouped_less10_purchase_data = less10_purchase_data.groupby("SN")
grouped_ten_fourteen_purchase_data = ten_fourteen_purchase_data.groupby("SN")
grouped_fifteen_nineteen_purchase_data = fifteen_nineteen_purchase_data.groupby("SN")
grouped_twenty_twentyfour_purchase_data = twenty_twentyfour_purchase_data.groupby("SN") 
grouped_twentyfive_twentynine_purchase_data = twentyfive_twentynine_purchase_data.groupby("SN")
grouped_thirty_thirtyfour_purchase_data = thirty_thirtyfour_purchase_data.groupby("SN") 
grouped_thirtyfive_thirtynine_purchase_data = thirtyfive_thirtynine_purchase_data.groupby("SN") 
grouped_greater40_purchase_data = greater40_purchase_data.groupby("SN")

#Get sum of purchases for each SN
purchase_by_less10 = grouped_less10_purchase_data["Price"].sum()
purchase_by_ten_fourteen = grouped_ten_fourteen_purchase_data["Price"].sum()
purchase_by_fifteen_nineteen = grouped_fifteen_nineteen_purchase_data["Price"].sum()
purchase_by_twenty_twentyfour = grouped_twenty_twentyfour_purchase_data["Price"].sum()
purchase_by_twentyfive_twentynine = grouped_twentyfive_twentynine_purchase_data["Price"].sum()
purchase_by_thirty_thirtyfour = grouped_thirty_thirtyfour_purchase_data["Price"].sum()
purchase_by_thirtyfive_thirtynine = grouped_thirtyfive_thirtynine_purchase_data["Price"].sum()
purchase_by_greater40 = grouped_greater40_purchase_data["Price"].sum()

#Create a summary table of total purchases by SN
less10_summary_table = pd.DataFrame({"Total Purchases": purchase_by_less10})
ten_fourteen_summary_table = pd.DataFrame({"Total Purchases": purchase_by_ten_fourteen})
fifteen_nineteen_summary_table = pd.DataFrame({"Total Purchases": purchase_by_fifteen_nineteen})
twenty_twentyfour_summary_table = pd.DataFrame({"Total Purchases": purchase_by_twenty_twentyfour})
twentyfive_twentynine_summary_table = pd.DataFrame({"Total Purchases": purchase_by_twentyfive_twentynine})
thirty_thirtyfour_summary_table = pd.DataFrame({"Total Purchases": purchase_by_thirty_thirtyfour})
thirtyfive_thirtynine_summary_table = pd.DataFrame({"Total Purchases": purchase_by_thirtyfive_thirtynine})
greater40_summary_table = pd.DataFrame({"Total Purchases": purchase_by_greater40})

#Calculate the mean purchase by SN
avg_less10_purchase_price = round((less10_summary_table["Total Purchases"].mean()),2)
avg_ten_fourteen_purchase_price = round((ten_fourteen_summary_table["Total Purchases"].mean()),2)
avg_fifteen_nineteen_purchase_price = round((fifteen_nineteen_summary_table["Total Purchases"].mean()),2)
avg_twenty_twentyfour_purchase_price = round((twenty_twentyfour_summary_table["Total Purchases"].mean()),2)
avg_twentyfive_twentynine_purchase_price = round((twentyfive_twentynine_summary_table["Total Purchases"].mean()),2)
avg_thirty_thirtyfour_purchase_price = round((thirty_thirtyfour_summary_table["Total Purchases"].mean()),2)
avg_thirtyfive_thirtynine_purchase_price = round((thirtyfive_thirtynine_summary_table["Total Purchases"].mean()),2)
avg_greater40_purchase_price = round((greater40_summary_table["Total Purchases"].mean()),2)
# Place all of the data found into a summary DataFrame
age_summary_table = pd.DataFrame({"Age Ranges": ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"],
                               "Purchase Count": [less10_purchase_count, ten_fourteen_purchase_count, fifteen_nineteen_purchase_count, twenty_twentyfour_purchase_count, twentyfive_twentynine_purchase_count, thirty_thirtyfour_purchase_count, thirtyfive_thirtynine_purchase_count, greater40_purchase_count],
                                "Average Purchase Price": [less10_avg_purchase_price, ten_fourteen_avg_purchase_price, fifteen_nineteen_avg_purchase_price, twenty_twentyfour_avg_purchase_price, twentyfive_twentynine_avg_purchase_price, thirty_thirtyfour_avg_purchase_price, thirtyfive_thirtynine_avg_purchase_price, greater40_avg_purchase_price],
                                  "Total Purchase Value" :[less10_total_revenue, ten_fourteen_total_revenue, fifteen_nineteen_total_revenue, twenty_twentyfour_total_revenue, twentyfive_twentynine_total_revenue, thirty_thirtyfour_total_revenue, thirtyfive_thirtynine_total_revenue, greater40_total_revenue],
                                  "Avg Total Purchase per Person" :[avg_less10_purchase_price, avg_ten_fourteen_purchase_price, avg_fifteen_nineteen_purchase_price, avg_twenty_twentyfour_purchase_price, avg_twentyfive_twentynine_purchase_price, avg_thirty_thirtyfour_purchase_price, avg_thirtyfive_thirtynine_purchase_price, avg_greater40_purchase_price]
                                 })

new_age_summary_table = age_summary_table.set_index("Age Ranges")
new_age_summary_table.style.format({"Average Purchase Price": "${:,.2f}", "Total Purchase Value": "${:,.2f}",
                                   "Avg Total Purchase per Person": "${:,.2f}"})

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [173]:
# Create a grouping by SN.
grouped_sn = purchase_data.groupby(["SN"])

#Using the groupby SN, calculate the # of purchases per SN.
sn_purchase_count = grouped_sn.count()["Purchase ID"]

#Using the groupby SN, calculate the total purchases per SN.
total_purchase_sn = grouped_sn.sum()["Price"]

#Using the groupby SN, calculate the average of each purchase for each SN.
avg_purchase_total_sn = grouped_sn.mean()["Price"]

# Create a new dataframe with the calculations.
top_spenders = pd.DataFrame({"Purchase Count": sn_purchase_count,"Average Purchase Price":avg_purchase_total_sn, "Total Purchase Value":total_purchase_sn})

# Sort the values by Total Purchase Value.
top_spenders.sort_values("Total Purchase Value", ascending=False, inplace=True)

# Create a new list with just the top 5.
five_spenders = top_spenders.head(5)

# Fix the formatting and display the outpt.
five_spenders.style.format({"Average Purchase Price": "${:,.2f}", "Total Purchase Value": "${:,.2f}"})

## Most Popular Items

Retrieve the Item ID, Item Name, and Item Price columns
Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value
Create a summary data frame to hold the results
Sort the purchase count column in descending order
Optional: give the displayed data cleaner formatting
Display a preview of the summary data frame

In [174]:
# Create a grouping by item.
grouped_item = purchase_data.groupby(["Item ID", "Item Name"])

#Using the groupby item, calculate the # of purchases per Item.
item_purchase_count = grouped_item.count()["Purchase ID"]

#Using the groupby item, calculate the total purchases per SN.
item_price = grouped_item.mean()["Price"]

#Using the groupby item, calculate the average of each purchase for each SN.
total_purchase_item = grouped_item.sum()["Price"]

# Create a new dataframe with the calculations.
top_items = pd.DataFrame({"Purchase Count": item_purchase_count,
                             "Item Price":item_price, 
                             "Total Purchase Value":total_purchase_item})

# Sort the values by Total Purchase Value.
top_items.sort_values("Purchase Count", ascending=False, inplace=True)

# Create a new list with just the top 5.
five_items = top_items.head(5)

# Fix the formatting and display the outpt.
five_items.style.format({"Item Price": "${:,.2f}", "Total Purchase Value": "${:,.2f}"})

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [175]:
# Sort the values by Total Purchase Value.
top_items.sort_values("Total Purchase Value", ascending=False, inplace=True)

# Create a new list with just the top 5.
five_purchase_items = top_items.head(5)

# Fix the formatting and display the outpt.
five_purchase_items.style.format({"Item Price": "${:,.2f}", "Total Purchase Value": "${:,.2f}"})