### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [2]:
# Get the total number of unique Screen Names from the df.

player_count = (purchase_data["SN"].nunique())-1
player_count_len = len(purchase_data["SN"])
print(player_count, player_count_len)

575 780

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
# Get the # of unique items, avg purchase price, total # of purchases, 
# and total revenue.

item_count = purchase_data["Item Name"].nunique()
avg_purchase_price = round((purchase_data["Price"].mean()),2)
purchase_count = (purchase_data["Purchase ID"].count()) - 1
total_revenue = purchase_data["Price"].sum()

print(item_count, avg_purchase_price, purchase_count, total_revenue)

179 3.05 779 2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [4]:
gender_counts = purchase_data["Gender"].value_counts()
gender_percents = purchase_data["Gender"].value_counts(normalize=True)

male_count = (gender_counts[0])
female_count = (gender_counts[1])
other_gender_count = (gender_counts[2])

male_percent = round((gender_percents[0])*100,2)
female_percent = round((gender_percents[1])*100,2)
other_gender_percent = round((gender_percents[2])*100,2)

print(male_count, male_percent, female_count, female_percent, other_gender_count, other_gender_percent)

652 83.59 113 14.49 15 1.92


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [5]:
item_count = purchase_data["Item Name"].nunique()
avg_purchase_price = round((purchase_data["Price"].mean()),2)
total_revenue = purchase_data["Price"].sum()

print(item_count, avg_purchase_price, total_revenue)

179 3.05 2379.77

In [6]:
#Filter the data so that only specific gender purchase data is in a DF
male_purchase_data = purchase_data.loc[purchase_data["Gender"] == "Male", :]
female_purchase_data = purchase_data.loc[purchase_data["Gender"] == "Female", :]
other_purchase_data = purchase_data.loc[purchase_data["Gender"] == "Other / Non-Disclosed", :]

other_purchase_data.head(10)

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
9,9,Chanosian48,35,Other / Non-Disclosed,136,Ghastly Adamantite Protector,3.58
22,22,Siarithria38,38,Other / Non-Disclosed,24,Warped Fetish,3.81
82,82,Haerithp41,16,Other / Non-Disclosed,160,Azurewrath,4.40
111,111,Sundim98,21,Other / Non-Disclosed,41,Orbit,4.75
228,228,Jiskirran77,20,Other / Non-Disclosed,80,Dreamsong,3.39
237,237,Idairin51,20,Other / Non-Disclosed,16,Restored Bauble,3.55
242,242,Eodaisu60,16,Other / Non-Disclosed,39,"Betrayal, Whisper of Grieving Widows",3.94
291,291,Idairin51,20,Other / Non-Disclosed,35,Heartless Bone Dualblade,3.45
350,350,Rairith81,15,Other / Non-Disclosed,34,Retribution Axe,2.22
401,401,Lirtim36,15,Other / Non-Disclosed,46,Hopeless Ebon Dualblade,1.33

In [7]:
male_item_count = male_purchase_data["Purchase ID"].nunique()
male_avg_purchase_price = round((male_purchase_data["Price"].mean()),2)
male_total_revenue = male_purchase_data["Price"].sum()

female_item_count = female_purchase_data["Purchase ID"].nunique()
female_avg_purchase_price = round((female_purchase_data["Price"].mean()),2)
female_total_revenue = female_purchase_data["Price"].sum()

other_item_count = other_purchase_data["Purchase ID"].nunique()
other_avg_purchase_price = round((other_purchase_data["Price"].mean()),2)
other_total_revenue = other_purchase_data["Price"].sum()

print(other_item_count, other_avg_purchase_price, other_total_revenue)

15 3.35 50.19

In [8]:
# Count how many purchases have occured for each SN
sn_counts_male = male_purchase_data["SN"].value_counts()
sn_counts_female = female_purchase_data["SN"].value_counts()
sn_counts_other = other_purchase_data["SN"].value_counts()

sn_counts_other.head(15)

Chanosian48     2
Siarithria38    2
Idairin51       2
Maluncil97      2
Sundim98        1
Airi27          1
Eodaisu60       1
Haerithp41      1
Jiskirran77     1
Lirtim36        1
Rairith81       1
Name: SN, dtype: int64

In [9]:
# Using GroupBy in order to separate the data into fields according to "SN" values
grouped_male_counts_data = male_purchase_data.groupby(["SN"])
grouped_female_counts_data = female_purchase_data.groupby(["SN"])
grouped_other_counts_data = other_purchase_data.groupby(["SN"])

purchase_by_sn_male = grouped_male_counts_data["Price"].sum()
purchase_by_sn_female = grouped_female_counts_data["Price"].sum()
purchase_by_sn_other = grouped_other_counts_data["Price"].sum()

male_summary_table = pd.DataFrame({"Total Purchases": purchase_by_sn_male})
female_summary_table = pd.DataFrame({"Total Purchases": purchase_by_sn_female})
other_summary_table = pd.DataFrame({"Total Purchases": purchase_by_sn_other})

#other_summary_table.head()

avg_male_purchase_price = round((male_summary_table["Total Purchases"].mean()),2)
avg_female_purchase_price = round((female_summary_table["Total Purchases"].mean()),2)
avg_other_purchase_price = round((other_summary_table["Total Purchases"].mean()),2)

print(avg_male_purchase_price, avg_female_purchase_price, avg_other_purchase_price)

4.07 4.47 4.56

In [10]:
# Place all of the data found into a summary DataFrame

gender_summary_table = pd.DataFrame({"Gender": ["Male", "Female", "Other"],
                              "Purchase Count": [male_item_count, female_item_count, other_item_count],
                              "Average Purchase Price": [male_avg_purchase_price, female_avg_purchase_price, other_avg_purchase_price],
                              "Total Purchase Value": [male_total_revenue, female_total_revenue, other_total_revenue],
                            "Average Purchase Total per Person by Gender": [avg_male_purchase_price, avg_female_purchase_price, avg_other_purchase_price]})
gender_summary_table

,Gender,Purchase Count,Average Purchase Price,Total Purchase Value,Average Purchase Total per Person by Gender
0,Male,652,3.02,1967.64,4.07
1,Female,113,3.20,361.94,4.47
2,Other,15,3.35,50.19,4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [2]:
# Create the bins in which Data will be held  
bins = [0, 9, 14, 19, 24, 29, 34, 39, 100]

# Create the names for the four bins
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

#Place the new data series "Age Demographics" into a new column inside of the DF
purchase_data["Age Demographics"] = pd.cut(purchase_data["Age"], bins, labels=group_names)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Demographics
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24

In [4]:
# Check the Age Demographics 
(purchase_data["Age Demographics"]).head(10)

0    20-24
1      40+
2    20-24
3    20-24
4    20-24
5    20-24
6    35-39
7    20-24
8    20-24
9    35-39
Name: Age Demographics, dtype: category
Categories (8, object): [<10 < 10-14 < 15-19 < 20-24 < 25-29 < 30-34 < 35-39 < 40+]

In [17]:
purchase_data_age_sn = purchase_data.groupby(["Age Demographics", "SN"]).size()
purchase_data_age_sn.columns

#avg_purchase_data_age_sn = round((purchase_data_age_sn[["Price"]].mean()),2)
#print(avg_purchase_data_age_sn)


# Get the mean purchase total per person per age group
#print(purchase_data_age_sn)

AttributeError: 'Series' object has no attribute 'columns'

In [49]:
# Create a GroupBy object based upon "Age Demographics"
purchase_data_age = purchase_data.groupby("Age Demographics")

#age_group = purchase_data.groupby()
#age_group.head()

In [62]:
#purchase_data.max()

# Find how many users fall into each bin
count_purchases_age = purchase_data_age["SN"].nunique()

# Find how many purchases fall into each bin
count_purchases_id = purchase_data_age["Purchase ID"].nunique()

# Get the average of the purchase prices within the GroupBy object
avg_purchase_price_age = round((purchase_data_age[["Price"]].mean()),2)

# Get the sum of the purchase prices within the GroupBy object
sum_purchase_price_age = purchase_data_age[["Price"]].sum()

print(count_purchases_age, count_purchases_id, avg_purchase_price_age, sum_purchase_price_age)

Age Demographics
<10       17
10-14     22
15-19    107
20-24    258
25-29     77
30-34     52
35-39     31
40+       12
Name: SN, dtype: int64 Age Demographics
<10       23
10-14     28
15-19    136
20-24    365
25-29    101
30-34     73
35-39     41
40+       13
Name: Purchase ID, dtype: int64                   Price
Age Demographics
<10                3.35
10-14              2.96
15-19              3.04
20-24              3.05
25-29              2.90
30-34              2.93
35-39              3.60
40+                2.94                     Price
Age Demographics
<10                 77.13
10-14               82.78
15-19              412.89
20-24             1114.06
25-29              293.00
30-34              214.00
35-39              147.67
40+                 38.24

In [64]:
less10_purchase_data = purchase_data.loc[purchase_data["Age Demographics"] == "<10"]
ten_fourteen_purchase_data = purchase_data.loc[purchase_data["Age Demographics"] == "10-14"]
fifteen_nineteen_purchase_data = purchase_data.loc[purchase_data["Age Demographics"] == "15-19"]
twenty_twentyfour_purchase_data = purchase_data.loc[purchase_data["Age Demographics"] == "20-24"]
twentyfive_twentynine_purchase_data = purchase_data.loc[purchase_data["Age Demographics"] == "25-29"]
thirty_thirtyfour_purchase_data = purchase_data.loc[purchase_data["Age Demographics"] == "30-34"]
thirtyfive_thirtynine_purchase_data = purchase_data.loc[purchase_data["Age Demographics"] == "35-39"]
greater40_purchase_data = purchase_data.loc[purchase_data["Age Demographics"] == "40+"]

#print(thirtyfive_thirtynine_purchase_data)

# group the DF by the SN

less10_purchase_data.groupby["SN"]
ten_fourteen_purchase_data.groupby["SN"]
fifteen_nineteen_purchase_data.groupby["SN"]
twenty_twentyfour_purchase_data.groupby["SN"] 
twentyfive_twentynine_purchase_data.groupby["SN"]
thirty_thirtyfour_purchase_data.groupby["SN"] 
thirtyfive_thirtynine_purchase_data.groupby["SN"] 
greater40_purchase_data.groupby["SN"]


avg_purchase_price_sn_less10 = round((less10_purchase_data[["Price"]].mean()),2)

print(avg_purchase_price_sn_less10)

#purchase_data_age_sn = purchase_data.groupby(["Age Demographics", "SN"]).size()
#purchase_data_age_sn.head(30)

# Get the mean purchase total per person per age group
#print(avg_purchase_price_age_sn)

TypeError: 'method' object is not subscriptable

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame